{% extends "base.html" %}
{% load staticfiles %}


{% block introcontent %}
<div id="about">
  <img id="gears" src="{% static 'app/images/gears.jpg' %}" class="z-depth-3" alt="Bill Gardner"></img>
</div>
{% endblock %}
{% block about %}
<div class="container">
  <h2 class="center-align">BILL GARDNER &nbsp | &nbsp <small>BACKEND DEVELOPER</small></h2>
  <hr>
  <p class="flow-text center-align">I am a recent graduate of The Iron Yard in Greenville, SC, where I studied backend development,  including Python and Django, with the goal of creating elegant and useful web-based tools.   I’m experienced in backend web development, object-oriented and functional programming, and relational database integration.</p>
  <p class="flow-text center-align">I have previously spent more than 15 years working in
  manufacturing environments as both an engineer and a design manager.  As a result, I have a wealth of knowledge and
  experience creating products in an organized, thoughtful, and cost-effective manner.</p>
  <br>
  <br>
</div>
{% endblock %}
{% block portfolio %}
<div id="portfolio" class="blue-grey darken-1 z-depth-3">
  <br>
  <br>
<div class="container">
  <h2 class="white-text">portfolio:</h2>
  <hr>
  <br>
    <div id="cardsmall1" class="card medium card-panel hoverable z-depth-5">
      <div class="card-image">
        <img class="materialboxed" src="{% static 'app/images/subasmbly.jpg' %}" alt="subasmbly" />
      </div>
    <div class="card-content">
      <p>Subasmbly: Online Bill of Materials</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal1">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger z-depth-2" href="http://www.subasmbly.com" target="blank">Open Subasmbly.com</a>
      </div>
    </div>
    <div id="cardsmall2" class="card medium card-panel hoverable z-depth-5">
      <div class="card-image">
        <img class="materialboxed" src="{% static 'app/images/billslist.jpg' %}" alt="" />
      </div>
    <div class="card-content">
      <p>Bill's List, A Place for Things and Stuff</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal2">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger z-depth-2" href="https://billslist.herokuapp.com/" target="blank">Open Bill's List</a>
      </div>
    </div>
    <div id="cardsmall3" class="card medium card-panel hoverable z-depth-5">
      <div class="card-image">
        <img class="materialboxed" src="{% static 'app/images/billy.jpg' %}" alt="" />
      </div>
    <div class="card-content">
      <p>Bil.ly - URL Shortener</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal3">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger z-depth-2" href="https://billdotly.herokuapp.com/" target="blank">Open bil.ly</a>
      </div>
    </div>
  <br>
  <br>
  <br>
  <br>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="flow-text">Subasmbly</h4>
        <p class="flow-text">Subasmbly is a Bill of Materials application designed to put high quality revision control and customer and supplier management into the hand of Makers who previously only had Excel to execute their BoMs</p>
        <p class="flow-text">Technologies used: Python, Django, Highton API Module, Heroku</p>
      </div>
      <div class="modal-footer">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger z-depth-2" href="http://www.subasmbly.com" target="blank">Open Subasmbly.com</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4 class="flow-text">Subasmbly</h4>
        <p class="flow-text">Bill's List is a Craig's List clone, written as part of the curriculum at The Iron Yard.  Users can make profiles, log in, and post new listings.</p>
        <p class="flow-text">Bill's List also incorporates a REST API and RESTful urls.</p>
        <p class="flow-text">Technologies used: Python, Django, Django REST Framework, Heroku</p>
      </div>
      <div class="modal-footer">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger z-depth-2" href="https://billslist.herokuapp.com/" target="blank">Open Bill's List</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <h4 class="flow-text">Subasmbly</h4>
        <p class="flow-text">Bil.ly is a url shortener, written as part of the curriculum at The Iron Yard.  Much like popular service Bit.ly, users can make profiles, log in, shorten urls, and save them to their profile.</p>
        <p class="flow-text">Technologies used: Python, Django, HashIDs, Heroku</p>
      </div>
      <div class="modal-footer">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger z-depth-2" href="https://billdotly.herokuapp.com/" target="blank">Open Bil.ly</a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block skills %}
<div id="tools">
  <br>
  <br>
  <br>
  <div class="container">
    <h2 class="black-text">skills:</h2>
    <hr>
    <div class="row">
      <br>
      <br>
      <img id="python" src="{% static 'app/images/python.png' %}" alt="Python Logo" />
      <img id="django" src="{% static 'app/images/django.png' %}" alt="Django Logo" />
      <img id="rest" src="{% static 'app/images/rest.png' %}" alt="Restful Logo" />
      <img id="html" src="{% static 'app/images/html.png' %}" alt="HTML5 Logo" />
      <img id="css" src="{% static 'app/images/css.png' %}" alt="CSS3 Logo" />
      <div id="skills" class="row">
        <div class="col s4">
          <h6 class="btn-flat disabled">Java</h6><br>
          <h6 class="btn-flat disabled">GitHub</h6><br>
          <h6 class="btn-flat disabled">Object Oriented Programming</h6><br>
          <h6 class="btn-flat disabled">Functional Programming</h6><br>
          <h6 class="btn-flat disabled">Heroku</h6><br>
          <h6 class="btn-flat disabled">PostgreSQL</h6><br>
        </div>
        <div class="col s4">
          <h6 class="btn-flat disabled">Bootstrap</h6><br>
          <h6 class="btn-flat disabled">Materialize</h6><br>
          <h6 class="btn-flat disabled">Adobe Photoshop</h6><br>
          <h6 class="btn-flat disabled">Adobe Illustrator</h6><br>
          <h6 class="btn-flat disabled">Adobe InDesign</h6><br>
          <h6 class="btn-flat disabled">Adobe Acrobat</h6><br>
        </div>
        <div class="col s4">
          <h6 class="btn-flat disabled">ZSH</h6><br>
          <h6 class="btn-flat disabled">Sublime Text</h6><br>
          <h6 class="btn-flat disabled">SolidWorks</h6><br>
          <h6 class="btn-flat disabled">Rhinoceros 3D</h6><br>
          <h6 class="btn-flat disabled">AutoCAD</h6><br>
          <h6 class="btn-flat disabled">Google Sketchup</h6><br>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
{% endblock %}
{% block resume %}
<div id="resume" class="blue-grey darken-1 z-depth-3">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <h2 class="white-text">resume:</h2>
    <hr>
    <br>
    <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">list</i>Technical Skills</div>
      <div class="collapsible-body white">
        <div class="container">
          <table>
            <tr>
              <td class="btn-flat disabled" width="175px">Python</td>
              <td class="btn-flat disabled" width="175px">Django</td>
              <td class="btn-flat disabled" width="175px">HTML5</td>
              <td class="btn-flat disabled" width="175px">CSS3</td>
            </tr>
            <tr>
              <td class="btn-flat disabled" width="175px">Java</td>
              <td class="btn-flat disabled" width="175px">Heroku</td>
              <td class="btn-flat disabled" width="175px">Github</td>
              <td class="btn-flat disabled" width="175px">PostgreSQL</td>
            </tr>
            <tr>
              <td class="btn-flat disabled" width="175px">Bootstrap</td>
              <td class="btn-flat disabled" width="175px">Materialize</td>
              <td class="btn-flat disabled" width="175px">ZSH</td>
              <td class="btn-flat disabled" width="175px">RESTful APIs</td>
            </tr>
            <tr>
              <td class="btn-flat disabled" width="175px">Photoshop</td>
              <td class="btn-flat disabled" width="175px">Illustrator</td>
              <td class="btn-flat disabled" width="175px">In Design</td>
              <td class="btn-flat disabled" width="175px">Acrobat</td>
            </tr>
            <tr>
              <td class="btn-flat disabled" width="175px">Solidworks</td>
              <td class="btn-flat disabled" width="175px">Rhino3D</td>
              <td class="btn-flat disabled" width="175px">AutoCAD</td>
              <td class="btn-flat disabled" width="175px">Sketchup</td>
            </tr>
            <tr>
              <td class="btn-flat disabled" width="350px">Object Oriented Programming</td>
              <td class="btn-flat disabled" width="350px">Functional Programming</td>
            </tr>
          </table>
        </div>
    </li>
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">assignment</i>Education</div>
      <div class="collapsible-body white">
        <div class="container">
          <table>
            <tr>
              <td><h6 class="flow-text">Python & Django Curriculum</h6></td>
              <td><h6 class="flow-text">The Iron Yard</h6></td>
              <td><h6 class="flow-text">May – August 2016</h6></td>
            </tr>
            <tr>
              <td><h6 class="flow-text">B.S Industrial Design</h6></td>
              <td><h6 class="flow-text">Virginia Tech</h6></td>
              <td><h6 class="flow-text">May 2000, Cum Laude</h6></td>
            </tr>
          </table>
        </div>
    </li>
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">web</i>Web Experience</div>
      <div class="collapsible-body white">
        <div class="container">
          <br>
          <ul>
            <li class="flow-text">Childrens Health Board: <small>Wordpress Website & Hosting Setup</small></li>
            <li class="flow-text">Sunica.org: <small>Wordpress Website & Hosting Setup</small></li>
            <li class="flow-text">DC Design House: <small>Wordpress Website, Hosting, Social Media</small></li>
            <li class="flow-text">American Grilling Club: <small>Wordpress Website & Branding</small></li>
            <li class="flow-text">FutureCare Maryland: <small>Existing Wordpress Website Maintenance</small></li>
            <li class="flow-text">Lorenz Consulting LLC: <small>Wordpress Website & Hosting Setup</small></li>
          </ul>
          <br>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">work</i>Recent Experience</div>
      <div class="collapsible-body white">
        <div class="container">
          <h5>Principal, 2011-2016</h5>
          <h5>William John Gardner Design Studio, LLC</h5>
          <h6>Furniture design and development startup focused on providing high end custom designs to interior designers in the Washington, DC area.</h6>
            <br>
          <h5>Design Development Manager, 2007-2010</h5>
          <h5>Niermann Weeks</h5>
          <h6>Oversaw design department for respected furniture design and manufacturer with a catalog of over 600 designs.</h6></div>
        </div>
    </li>
  </ul>
    <a id="resumebutton" class="waves-effect waves-light btn-large z-depth-3" href="{% static 'app/images/gardner_resume.pdf' %}" target="blank">Click to View My Resume</a>
    <a id="resumebutton" class="waves-effect waves-light btn-large z-depth-3" href="{% static 'app/images/gardner_resume.pdf' %}" download>Click to Download My Resume in .pdf Formatting</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
{% endblock %}
{% block contact %}
<div id="contact">
  <br>
  <br>
  <div class="container">
  <div class="col s12 m7">
    <h2 class="header">contact me:</h2>
    <hr>
    <br>
    <div class="card horizontal blue-grey darken-1 z-depth-4">
      <div class="card-image">
        <img src="{% static 'app/images/headshot.jpg' %}" alt="Bill Gardner Headshot" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title"></span>
            <p class="flow-text white-text"><small>I've spend the last 20 years designing and engineering mass transit vehicles and furniture.  While that may sound like a dichotomy, I've found that designing heavy equipment, chairs and tables, and web applications are largely similar and require many of the same skills. Please feel free to contact me at the links below!</small></p>
            </div>
        <div class="card-action">
          <a href="mailto:bill@williamjgardner.com"><i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i></a>
          <a href="http://www.github.com/williamjohngardner" target="blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/williamjohngardner" target="blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
          <a href="http://www.twitter.com/williamjgardner" target="blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}
{% block extrascript %}
<script>
$(document).ready(function() {
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
  $(".button-collapse").sideNav();
});
</script>
{% endblock %}
