{% extends "base.html" %}
{% load staticfiles %}


{% block introcontent %}
  <img id="gears" src="{% static 'app/images/gears.jpg' %}" alt="Bill Gardner"></img>
{% endblock %}
{% block about %}
<div class="container">
  <br>
  <br>
  <h2>BACKEND DEVELOPER</h2>
  <p class="flow-text">I am a recent graduate of The Iron Yard in Greenville, SC, where I studied backend development,  including Python and Django, with the goal of creating elegant and useful web-based tools.</p>
  <p class="flow-text">I’m experienced in backend web development, object-oriented and functional programming, and relational database integration.</p>
  <p class="flow-text">I have previously spent more than 15 years working in
  maufacturing environments as both an engineer and a design manager.  As a result, I have a wealth of knowledge and
  experience creating products in an organized, thoughful, and cost effective manner.</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% endblock %}
{% block portfolio %}
<div class="blue-grey darken-1">
  <br>
  <br>
<div class="container">
    <div id="cardsmall" class="card medium">
      <div id="cardimage" class="card-image">
        <img src="{% static 'app/images/driveshaft.jpg' %}" alt="" />
      </div>
    <div class="card-content">
      <p>Subasmbly: Online Revision Control</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal1">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="http://www.subasmbly.com" target="blank">Open Subasmbly.com</a>
      </div>
    </div>
    <div id="cardsmall" class="card medium">
      <div class="card-image">
        <img id="cardimage" src="{% static 'app/images/engine.jpg' %}" alt="" />
      </div>
    <div class="card-content">
      <p>Subasmbly: Online Revision Control</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal2">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="http://www.subasmbly.com" target="blank">Open Bill's List</a>
      </div>
    </div>
    <div id="cardsmall" class="card medium">
      <div class="card-image">
        <img id="cardimage" src="{% static 'app/images/engineblock.jpg' %}" alt="" />
      </div>
    <div class="card-content">
      <p>Subasmbly: Online Revision Control</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal3">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="http://www.subasmbly.com" target="blank">Open Bil.ly</a>
      </div>
    </div>
    <div id="cardsmall" class="card medium">
      <div id="cardimage" class="card-image">
        <img src="{% static 'app/images/driveshaft.jpg' %}" alt="" />
      </div>
    <div class="card-content">
      <p>Subasmbly: Online Revision Control</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal4">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="http://www.subasmbly.com" target="blank">Open Subasmbly.com</a>
      </div>
    </div>
    <div id="cardsmall" class="card medium">
      <div class="card-image">
        <img id="cardimage" src="{% static 'app/images/engine.jpg' %}" alt="" />
      </div>
    <div class="card-content">
      <p>Subasmbly: Online Revision Control</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal5">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="http://www.subasmbly.com" target="blank">Open Bill's List</a>
      </div>
    </div>
    <div id="cardsmall" class="card medium">
      <div class="card-image">
        <img id="cardimage" src="{% static 'app/images/engineblock.jpg' %}" alt="" />
      </div>
    <div class="card-content">
      <p>Subasmbly: Online Revision Control</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal6">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="http://www.subasmbly.com" target="blank">Open Bil.ly</a>
      </div>
    </div>
  <br>
  <br>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
  </div>
  <div class="container">

      <!-- Modal Structure -->
      <div id="modal4" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <!-- Modal Structure -->
      <div id="modal5" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <!-- Modal Structure -->
      <div id="modal6" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block skills %}
  <div class="container">
    <div class="row">
      <br>
      <br>
      <img id="brands" src="{% static 'app/images/python.png' %}" alt="Python Logo" />
      <img id="brands" src="{% static 'app/images/django.png' %}" alt="Django Logo" />
      <img id="brands" src="{% static 'app/images/rest.png' %}" alt="Restful Logo" />
      <img id="brands" src="{% static 'app/images/html.png' %}" alt="HTML5 Logo" />
      <img id="brands" src="{% static 'app/images/css.png' %}" alt="CSS3 Logo" />
      <div id="skills" class="row">
        <div class="col s4">
          <h6 class="flow-text">Java</h6>
          <h6 class="flow-text">GitHub</h6>
          <h6 class="flow-text">Object Oriented Programming</h6>
          <h6 class="flow-text">Functional Programming</h6>
          <h6 class="flow-text">Heroku</h6>
          <h6 class="flow-text">PostgreSQL</h6>
        </div>
        <div class="col s4">
          <h6 class="flow-text">Bootstrap</h6>
          <h6 class="flow-text">Materialize</h6>
          <h6 class="flow-text">Adobe Photoshop</h6>
          <h6 class="flow-text">Adobe Illustrator</h6>
          <h6 class="flow-text">Adobe InDesign</h6>
          <h6 class="flow-text">Adobe Acrobat</h6>
        </div>
        <div class="col s4">
          <h6 class="flow-text">ZSH</h6>
          <h6 class="flow-text">Sublime Text</h6>
          <h6 class="flow-text">SolidWorks</h6>
          <h6 class="flow-text">Rhinoceros 3D</h6>
          <h6 class="flow-text">AutoCAD</h6>
          <h6 class="flow-text">Google Sketchup</h6>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>

{% endblock %}
{% block resume %}
  <div class="blue-grey darken-1">
  <div class="container">
    <br>
    <br>
    <h2 class="white-text">resume:</h2>
    <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">list</i>Technical Skills</div>
      <div class="collapsible-body white">
        <h6 class="flow-text">Python Django HTML5 CSS3</h6>
        <h6 class="flow-text">Java Heroku Github RESTful APIs</h6>
        <h6 class="flow-text">Bootstrap Materialize PostgreSQL ZSH</h6>
        <h6 class="flow-text">Object Oriented Programming</h6>
        <h6 class="flow-text">Functional Programming</h6>
        <h6 class="flow-text">Photoshop Illustrator InDesign Acrobat</h6>
        <h6 class="flow-text">Solidworks Rhino3D AutoCAD Google Sketchup</h6></div>
    </li>
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">web</i>Web Experience</div>
      <div class="collapsible-body white">
        <h6>Childrens Health Board: Wordpress Website & Hosting Setup</h6>
        <h6>Sunica.org: Wordpress Website & Hosting Setup</h6>
        <h6>DC Design House: Wordpress Website, Hosting, Social Media</h6>
        <h6>American Grilling Club: Wordpress Website & Branding</h6>
        <h6>FutureCare Maryland: Existing Wordpress Website Maintenance</h6>
        <h6>Lorenz Consulting LLC: Wordpress Website & Hosting Setup</h6>
      </div>
    </li>
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">assignment</i>Education</div>
      <div class="collapsible-body white"><h6>Python & Django Curriculum | The Iron Yard  | May – August 2016</h6>
        <h6>B.S Industrial Design  |  Virginia Tech  |  May 2000, Cum Laude</h6></div>
    </li>
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">work</i>Recent Experience</div>
      <div class="collapsible-body white">
        <h6>Principal, 2011-2016</h6>
        <h6>William John Gardner Design Studio, LLC</h6>
        <h6>Furniture design and development startup focused on providing high</h6>
        <h6>end custom designs to interior designers in the Washington, DC area.</h6>
          <br>
        <h6>Design Development Manager, 2007-2010</h6>
        <h6>Niermann Weeks</h6>
        <h6>Oversaw design department for respected furniture design and manufaccturer</h6>
        <h6>with a catalog of over 600 designs.</h6></div>
    </li>
  </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
{% endblock %}
{% block contact %}
<br>
<div class="container">
  <div class="col s12 m7">
    <h2 class="header">contact me:</h2>
    <div class="card horizontal blue-grey darken-1">
      <div class="card-image">
        <img src="{% static 'app/images/headshot.jpg' %}" alt="Bill Gardner Headshot" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title"></span>
          <ul>
            <li class="white-text flow-text">(443) 340-5272</li>
            <li><a href="mailto:bill@williamjgardner.com" target="blank">bill@williamjgardner.com</a></li>
            <li><a href="http://www.williamjgardner.com" target="blank">www.williamjgardner.com</a></li>
            <li><a href="http://www.github.com/williamjohngardner" target="blank">github.com/williamjohngardner</a></li>
            <li><a href="https://www.linkedin.com/in/williamjohngardner" target="blank">linkedin.com/in/williamjohngardner</a></li>
          </ul>
        </div>
        <div class="card-action">
          <a href="mailto:bill@williamjgardner.com">Email Me</a>
          <a href="http://www.github.com/williamjohngardner">My GitHub</a>
          <a href="https://www.linkedin.com/in/williamjohngardner">My LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
{% endblock %}
{% block extrascript %}
<script>
$(document).ready(function() {
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
});
</script>
{% endblock %}
