{% extends "base.html" %}
{% load staticfiles %}


{% block introcontent %}
  <img id="gears" src="{% static 'app/images/gears.jpg' %}" alt="Bill Gardner"></img>
{% endblock %}
{% block about %}
<div class="container">
  <h2 class="center-align">BILL GARDNER &nbsp | &nbsp <small>BACKEND DEVELOPER</small></h2>
  <hr>
  <p class="flow-text center-align">I am a recent graduate of The Iron Yard in Greenville, SC, where I studied backend development,  including Python and Django, with the goal of creating elegant and useful web-based tools.   I’m experienced in backend web development, object-oriented and functional programming, and relational database integration.</p>
  <p class="flow-text center-align">I have previously spent more than 15 years working in
  maufacturing environments as both an engineer and a design manager.  As a result, I have a wealth of knowledge and
  experience creating products in an organized, thoughful, and cost effective manner.</p>
  <br>
  <br>
</div>
{% endblock %}
{% block portfolio %}
<div class="blue-grey darken-1">
  <br>
  <br>
<div class="container">
  <h2 class="white-text">portfolio:</h2>
  <hr>
  <br>
    <div id="cardsmall1" class="card medium card-panel hoverable">
      <div class="card-image">
        <img class="materialboxed" src="{% static 'app/images/subasmbly.jpg' %}" alt="subasmbly" />
      </div>
    <div class="card-content">
      <p>Subasmbly: Online Bill of Materials</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal1">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="http://www.subasmbly.com" target="blank">Open Subasmbly.com</a>
      </div>
    </div>
    <div id="cardsmall2" class="card medium card-panel hoverable">
      <div class="card-image">
        <img class="materialboxed" src="{% static 'app/images/billslist.jpg' %}" alt="" />
      </div>
    <div class="card-content">
      <p>Bill's List, A Place for Things and Stuff</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal2">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="http://www.billslist.com" target="blank">Open Bill's List</a>
      </div>
    </div>
    <div id="cardsmall3" class="card medium card-panel hoverable">
      <div class="card-image">
        <img class="materialboxed" src="{% static 'app/images/billy.jpg' %}" alt="" />
      </div>
    <div class="card-content">
      <p>Bil.ly - URL Shortener</p>
    </div>
      <div class="card-action">
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="#modal3">More Information</a>
        <a id="cardbutton" class="waves-effect waves-light btn modal-trigger" href="http://www.subasmbly.com" target="blank">Open Bil.ly</a>
      </div>
    </div>
  <br>
  <br>
  <br>
  <br>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block skills %}
  <div class="container">
    <h2 class="black-text">skills:</h2>
    <hr>
    <div class="row">
      <br>
      <br>
      <img id="python" src="{% static 'app/images/python.png' %}" alt="Python Logo" />
      <img id="django" src="{% static 'app/images/django.png' %}" alt="Django Logo" />
      <img id="rest" src="{% static 'app/images/rest.png' %}" alt="Restful Logo" />
      <img id="html" src="{% static 'app/images/html.png' %}" alt="HTML5 Logo" />
      <img id="css" src="{% static 'app/images/css.png' %}" alt="CSS3 Logo" />
      <div id="skills" class="row">
        <div class="col s4">
          <h6 class="flow-text">Java</h6>
          <h6 class="flow-text">GitHub</h6>
          <h6 class="flow-text">Object Oriented Programming</h6>
          <h6 class="flow-text">Functional Programming</h6>
          <h6 class="flow-text">Heroku</h6>
          <h6 class="flow-text">PostgreSQL</h6>
        </div>
        <div class="col s4">
          <h6 class="flow-text">Bootstrap</h6>
          <h6 class="flow-text">Materialize</h6>
          <h6 class="flow-text">Adobe Photoshop</h6>
          <h6 class="flow-text">Adobe Illustrator</h6>
          <h6 class="flow-text">Adobe InDesign</h6>
          <h6 class="flow-text">Adobe Acrobat</h6>
        </div>
        <div class="col s4">
          <h6 class="flow-text">ZSH</h6>
          <h6 class="flow-text">Sublime Text</h6>
          <h6 class="flow-text">SolidWorks</h6>
          <h6 class="flow-text">Rhinoceros 3D</h6>
          <h6 class="flow-text">AutoCAD</h6>
          <h6 class="flow-text">Google Sketchup</h6>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
{% endblock %}
{% block resume %}
  <div class="blue-grey darken-1">
  <div class="container">
    <br>
    <h2 class="white-text">resume:</h2>
    <hr>
    <br>
    <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">list</i>Technical Skills</div>
      <div class="collapsible-body white">
        <div class="container">
          <table>
            <tr>
              <td class="flow-text">Python</td>
              <td class="flow-text">Django</td>
              <td class="flow-text">HTML5</td>
              <td class="flow-text">CSS3</td>
            </tr>
            <tr>
              <td class="flow-text">Java</td>
              <td class="flow-text">Heroku</td>
              <td class="flow-text">Github</td>
              <td class="flow-text"><small>PostgreSQL</small></td>
            </tr>
            <tr>
              <td class="flow-text">Bootstrap</td>
              <td class="flow-text">Materialize</td>
              <td class="flow-text">ZSH</td>
            </tr>
            <tr>
              <td class="flow-text">Photoshop</td>
              <td class="flow-text">Illustrator</td>
              <td class="flow-text">InDesign</td>
              <td class="flow-text">Acrobat</td>
            </tr>
            <tr>
              <td class="flow-text">Solidworks</td>
              <td class="flow-text">Rhino3D</td>
              <td class="flow-text">AutoCAD</td>
            </tr>
            <tr>
              <td class="flow-text"><small>Object Oriented Programming</small></td>
              <td class="flow-text"><small>Functional Programming</small></td>
              <td class="flow-text"><small>RESTful APIs</small></td>
              <td class="flow-text"><small>Google Sketchup</small></td>
            </tr>
          </table>
        </div>
    </li>
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">web</i>Web Experience</div>
      <div class="collapsible-body white">
        <div class="container">
          <br>
          <ul>
            <li class="flow-text">Childrens Health Board: <small>Wordpress Website & Hosting Setup</small></li>
            <li class="flow-text">Sunica.org: <small>Wordpress Website & Hosting Setup</small></li>
            <li class="flow-text">DC Design House: <small>Wordpress Website, Hosting, Social Media</small></li>
            <li class="flow-text">American Grilling Club: <small>Wordpress Website & Branding</small></li>
            <li class="flow-text">FutureCare Maryland: <small>Existing Wordpress Website Maintenance</small></li>
            <li class="flow-text">Lorenz Consulting LLC: <small>Wordpress Website & Hosting Setup</small></li>
          </ul>
          <br>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">assignment</i>Education</div>
      <div class="collapsible-body white">
        <div class="container">
          <table>
            <tr>
              <td><h6 class="flow-text">Python & Django Curriculum</h6></td>
              <td><h6 class="flow-text">The Iron Yard</h6></td>
              <td><h6 class="flow-text">May – August 2016</h6></td>
            </tr>
            <tr>
              <td><h6 class="flow-text">B.S Industrial Design</h6></td>
              <td><h6 class="flow-text">Virginia Tech</h6></td>
              <td><h6 class="flow-text">May 2000, Cum Laude</h6></td>
            </tr>
          </table>
        </div>
    </li>
    <li>
      <div class="collapsible-header flow-text"><i class="material-icons">work</i>Recent Experience</div>
      <div class="collapsible-body white">
        <div class="container">
          <h5>Principal, 2011-2016</h5>
          <h5>William John Gardner Design Studio, LLC</h5>
          <h6>Furniture design and development startup focused on providing high end custom designs to interior designers in the Washington, DC area.</h6>
            <br>
          <h5>Design Development Manager, 2007-2010</h5>
          <h5>Niermann Weeks</h5>
          <h6>Oversaw design department for respected furniture design and manufacturer with a catalog of over 600 designs.</h6></div>
        </div>
    </li>
  </ul>
    <br>
    <br>
  </div>
</div>
{% endblock %}
{% block contact %}
<br>
<div class="container">
  <div class="col s12 m7">
    <h2 class="header">contact me:</h2>
    <hr>
    <br>
    <div class="card horizontal blue-grey darken-1">
      <div class="card-image">
        <img src="{% static 'app/images/headshot.jpg' %}" alt="Bill Gardner Headshot" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title"></span>
          <ul>
            <li> Do I need some kind of personal statement here?</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="mailto:bill@williamjgardner.com"><i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i></a>
          <a href="http://www.github.com/williamjohngardner" target="blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/williamjohngardner" target="blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
          <a href="http://www.twitter.com/williamjgardner" target="blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
{% endblock %}
{% block extrascript %}
<script>
$(document).ready(function() {
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
});
</script>
{% endblock %}
