h2 {
  font-family:Roboto;
  font-weight: 200;
}

#python, #django, #rest, #html, #css{
  display: inline-block;
  align-items: center;
}

#python{
  float: left;
}

#django, #rest, #html{
  margin-left: 6.25%;
}

#css{
  float: right;
}

#logo{
  padding-left: 20px;
}

#btn{
  width: 150px;
}
