h2 {
  font-family:'Roboto', sans-serif;
  font-weight: 200;
}

#header-image-med {
  width: 375px;
}

#portfoliobutton {
  width: 100%;
  margin-bottom: 5px;
}

 #resumebtn {
   width: 100%;
   margin-top: 10px;
 }

 #resumebtn_mobile {
   width: 290px;
   margin-top: 10px;
 }

#logo {
  padding-left: 20px;
}

#logo-mobile {
  font-size: 1.5em;
  margin-left: 0;
  padding-left: 0;

}

#btn {
  width: 150px;
}

.card.medium {
    height: 450px;
}

.card-image-mobile img {
  width: 337px;
  height: auto;

}

@media screen and (max-width: 960px) {

}

@media screen and (min-width: 700px) {
  .card-image-mobile {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  #headshot-dsktop {
    display: none;
  }
}
