h2 {
  font-family:Roboto;
  font-weight: 200;
}

#portfoliobutton{
  width: 100%;
  margin-bottom: 5px;
}

 #resumebtn{
   width: 100%;
   margin-top: 10px;
 }

#logo{
  padding-left: 20px;
}

#btn{
  width: 150px;
}

.card.medium {
    height: 450px;
}
